.pullQuote{
  float:right;
  max-width: 300px;
  border-top: thin black solid;
  border-bottom: thick black solid;
  font-size:30px;
  line-height: 130%;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.floatFigure{
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
}
